<div class="page-header">
  <h1>Edit Application</h1>
</div>

<%= form_for(application, {action: applicationPath({ application_id: application.ID }), method: "PUT"}) { %>
  <%= partial("applications/form.html") %>
  <a href="<%= applicationPath({ application_id: application.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
