<div class="page-header">
  <h1>Applications</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newApplicationsPath() %>" class="btn btn-primary">Create New Application</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>ID</th>
    <th>UserID</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (application) in applications { %>
      <tr>
      <td><%= application.ID %></td>
        <td><%= application.UserID %></td>
        <td>
          <div class="pull-right">
            <a href="<%= applicationPath({ application_id: application.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editApplicationPath({ application_id: application.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= applicationPath({ application_id: application.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
