<div class="page-header">
  <h1>New Application</h1>
</div>

<%= form_for(application, {action: applicationsPath(), method: "POST"}) { %>
  <%= partial("applications/form.html") %>
  <a href="<%= applicationsPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
