<div class="page-header">
  <h1>Application#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= applicationsPath() %>" class="btn btn-info">Back to all Applications</a></li>
  <li class="list-inline-item"><a href="<%= editApplicationPath({ application_id: application.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= applicationPath({ application_id: application.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= application.ID %>
</p>
<p>
  <strong>UserID</strong>: <%= application.UserID %>
</p>
<p>
  <strong>Name</strong>: <%= application.Name %>
</p>
<p>
  <strong>Licenses</strong>: <%= application.Licenses %>
</p>
