<div class="page-header">
  <h1>Edit Machine</h1>
</div>

<%= form_for(machine, {action: machinePath({ machine_id: machine.ID }), method: "PUT"}) { %>
  <%= partial("machines/form.html") %>
  <a href="<%= machinePath({ machine_id: machine.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
