<div class="page-header">
  <h1>Machines</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newMachinesPath() %>" class="btn btn-primary">Create New Machine</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>ID</th>
    <th>UserID</th>
    <th>Licenses</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (machine) in machines { %>
      <tr>
      <td><%= machine.ID %></td>
        <td><%= machine.UserID %></td>
        <td><%= machine.Licenses %></td>
        <td>
          <div class="pull-right">
            <a href="<%= machinePath({ machine_id: machine.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editMachinePath({ machine_id: machine.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= machinePath({ machine_id: machine.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
