<div class="page-header">
  <h1>New Machine</h1>
</div>

Add some text

<%= form_for(machine, {action: machinesPath(), method: "POST"}) { %>
  <%= partial("machines/form.html") %>
  <a href="<%= machinesPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
