<div class="page-header">
  <h1>Machine#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= machinesPath() %>" class="btn btn-info">Back to all Machines</a></li>
  <li class="list-inline-item"><a href="<%= editMachinePath({ machine_id: machine.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= machinePath({ machine_id: machine.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= machine.ID %>
</p>
<p>
  <strong>UserID</strong>: <%= machine.UserID %>
</p>
<p>
  <strong>Licenses</strong>: <%= machine.Licenses %>
</p>
