<div class="page-header">
  <h1>Edit License</h1>
</div>

<%= form_for(license, {action: applicationLicensesPath({ application_id: application_id, license_id: license.ID }), method: "PUT"}) { %>
  <%= partial("licenses/form.html") %>
  <a href="<%= applicationLicensePath({ application_id: application_id, license_id: license.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
