<div class="page-header">
  <h1>Licenses</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newApplicationLicensesPath({ application_id: application_id }) %>" class="btn btn-primary">Create New License</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>ID</th>
    <th>MachineLimit</th>
    <th>User</th>
    <th>UserID</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (license) in licenses { %>
      <tr>
      <td><%= license.ID %></td>
        <td><%= license.MachineLimit %></td>
        <td><%= license.User %></td>
        <td><%= license.UserID %></td>
        <td>
          <div class="pull-right">
            <a href="<%= applicationLicensePath({ application_id: application_id, license_id: license.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editApplicationLicensePath({ application_id: application_id, license_id: license.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= applicationLicensePath({ application_id: application_id, license_id: license.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
