<div class="page-header">
  <h1>New License</h1>
</div>

<%= form_for(license, {action: applicationLicensesPath({ application_id: application_id }), method: "POST"}) { %>
  <%= partial("licenses/form.html") %>
  <a href="<%= applicationLicensesPath({ application_id: application_id }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
