<div class="page-header">
  <h1>License#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= applicationLicensesPath({ application_id: application_id }) %>" class="btn btn-info">Back to all Licenses</a></li>
  <li class="list-inline-item"><a href="<%= editApplicationLicensePath({ application_id: application_id, license_id: license.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= applicationLicensePath({ application_id: application_id, license_id: license.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>ID</strong>: <%= license.ID %>
</p>
<p>
  <strong>MachineLimit</strong>: <%= license.MachineLimit %>
</p>
<p>
  <strong>User</strong>: <%= license.User %>
</p>
<p>
  <strong>UserID</strong>: <%= license.UserID %>
</p>
