<nav class="navbar">
    <a class="navbar-brand" href="/">Cynoktyx License Server</a>
    <%= if (!user_id) { %>
        <a href="<%= loginPath() %>" class="btn btn-success" role="button">Login</a>
    <% } else { %>
        <a href="<%= logoutPath({ user_id: user_id }) %>" class="btn btn-danger" role="button" data-method="DELETE">Logout</a>
    <% } %>
</nav>