<div class="page-header">
    <h1>Edit User</h1>
</div>

<%= form_for(user, {action: userPath({ user_id: user.ID }), method: "PUT"}) { %>
<%= partial("users/form.html") %>
<a href="<%= userPath({ user_id: user.ID }) %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
