<div class="page-header">
    <h1>Users</h1>
</div>
<ul class="list-unstyled list-inline">
    <li><a href="<%= loginPath() %>" class="btn btn-primary">Create New User</a></li>
</ul>

<table class="table table-striped">
    <thead>
    <th>ID</th>
    <th>Email</th>
    <th>&nbsp;</th>
    </thead>
    <tbody>
    <%= for (user) in users { %>
    <tr>
        <td><%= user.ID %></td>
        <td><%= user.Email %></td>
        <td>
            <div class="pull-right">
                <a href="<%= userPath({ user_id: user.ID }) %>" class="btn btn-info">View</a>
                <a href="<%= editUserPath({ user_id: user.ID }) %>" class="btn btn-warning">Edit</a>
                <a href="<%= userPath({ user_id: user.ID }) %>" data-method="DELETE" data-confirm="Are you sure?"
                   class="btn btn-danger">Destroy</a>
            </div>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

<div class="text-center">
    <%= paginator(pagination) %>
</div>
