<div class="page-header">
    <h1>New User</h1>
</div>

<%= form_for(user, {action: usersPath(), method: "POST"}) { %>
<%= partial("users/form.html") %>
<a href="<%= usersPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
<% } %>
